@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scroll{
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.search-view{
    opacity: 1;
    clip-path: circle(141.0% at 100% 0);
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.search-hide{
    visibility: hidden;
    opacity: 1;
    clip-path: circle(0.0% at 100% 0);
}

.search-bar-active{
    border-top-left-radius: 1.5rem; /* 24px */
    border-top-right-radius: 1.5rem; /* 24px */


}

.search-bar-result{
    display: block;
    border-top-width: 1px;
}

.search-item-active{
    display: flex;
    position: relative;
    padding: 0.75rem;
    gap: 0.75rem;
    align-items: center;
}

.temperature{
    font-size: 4.5rem/* 72px */;
    line-height: 1;
    position: relative;
}




